{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="content">
      {% for book in books %}
        <div class="book">
            <h3>{{ book.name }}</h3>
          </a>
          <div class="author">Автор: {{ book.author }} </div>
          <div class="pub_date">Дата: {{ book.pub_date }} </div>
            <br>
        </div>
      {% endfor %}

    <div class="date-block">
      <span class="date-item">Перейти к:</span>
      <a class="date-item" href="{{ previous_book.pub_date|date:'Y-m-j' }}/">Предыдущей дате</a>
      <a class="date-item" href="{{ next_book.pub_date|date:'Y-m-j' }}/">Следующей дате</a>
    </div>

    </div>
    </div>
{% endblock %}